@page "/"

<PageTitle>Index</PageTitle>

<h2>Buttons</h2>

<FluentButton OnClick="@((e) => AddTrace("Button Clicked"))" Appearance="Appearance.Neutral">Button</FluentButton>
<FluentButton OnClick="@((e) => AddTrace("Accent Clicked"))" Appearance="Appearance.Accent">Accent</FluentButton>

<CodeSnippet>@(@"
<FluentButton OnClick=""@((e) => AddTrace(""Button Clicked""))"" 
              Appearance=""Appearance.Neutral"">Button</FluentButton>
<FluentButton OnClick=""@((e) => AddTrace(""Accent Clicked""))"" 
              Appearance=""Appearance.Neutral"">Accent</FluentButton>")
</CodeSnippet>

<h2>Text Fields</h2>
<FluentTextField Placeholder="Enter your text here" ValueChanged="@((e) => AddTrace($"TextField Value = " + e))" />

<CodeSnippet>@(@"
<FluentTextField Placeholder=""Enter your text here"" 
                 ValueChanged=""@((e) => AddTrace($""TextField Value "" + e))"" />")
</CodeSnippet>

<h2>Data Grid</h2>  
<FluentDataGrid GenerateHeader=GenerateHeaderOptions.None GridTemplateColumns="1fr 1fr" TItem=string>
    <FluentDataGridRow TItem=string RowType="DataGridRowType.Header">
        <FluentDataGridCell GridColumn=1 CellType="DataGridCellType.ColumnHeader">Column 1</FluentDataGridCell>
        <FluentDataGridCell GridColumn=2 CellType="DataGridCellType.ColumnHeader">Column 2</FluentDataGridCell>
    </FluentDataGridRow>
    <FluentDataGridRow TItem=string>
        <FluentDataGridCell GridColumn=1>1.1</FluentDataGridCell>
        <FluentDataGridCell GridColumn=2>1.2</FluentDataGridCell>
    </FluentDataGridRow>
    <FluentDataGridRow TItem=string>
        <FluentDataGridCell GridColumn=1>2.1</FluentDataGridCell>
        <FluentDataGridCell GridColumn=2> 2.2</FluentDataGridCell>
    </FluentDataGridRow>
</FluentDataGrid>

<h2>Stack Panel</h2>

<FluentStackPanel>
    <div style="background-color: lightsalmon;">First item</div>
    <div style="background-color: lightyellow;">Second item</div>
    <FluentStackPanel Orientation="Orientation.Horizontal"
                      AlignmentItems="AlignmentItems.Center">
        <div style="background-color: lightgreen;">Hello</div>
        <div style="background-color: lightblue;">World</div>
    </FluentStackPanel>
</FluentStackPanel>

<CodeSnippet>@(@"
<FluentStackPanel>
    <div>First item</div>
    <div>Second item</div>
    <FluentStackPanel Orientation=""Orientation.Horizontal""
                      AlignmentItems=""AlignmentItems.Center"">
        <div>Hello</div>
        <div>World</div>
    </FluentStackPanel>
</FluentStackPanel>")
</CodeSnippet>

<h2>Console</h2>
<div>
    @((MarkupString)ConsoleContent.Replace(Environment.NewLine, "<br/>"))
</div>